// GOOGLE FOONTS
$font-stack--google     : 'https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&family=Shippori+Mincho+B1:wght@800';
$font-family--primary   : 'Rubik', sans-serif;
$font-family--secondary : 'Shippori Mincho B1', serif;

$font-weight--xs        : 300;
$font-weight--sm        : 400;
$font-weight--md        : 500;
$font-weight--lg        : 600;
$font-weight--xl        : 700;
$font-weight--xxl       : 800;

// QPICK COLORS

$primary__color          : #fe6705;
$secondary__color        : #f94a29;
$dipti__red              : #f32853;
$dipti__black            : #0b0b0b;
$dipti__grey             : #969DA7;
$dipti__white            : #fff;
$dipti__tarquis          : #2E8A9C;
$dipti__green            : #2CC990;
$dipti__warning          : #FDE1F7;

// COLOR MAPS

$ui-colors         : (
	default          : $dipti__black,
	info             : $dipti__tarquis,
	warning          : $dipti__warning,
	success          : $dipti__green,
	error            : $dipti__red 
);

$colors: (
 grey: (
	 x-light : lighten($dipti__grey, 35%),
	 light   : lighten($dipti__grey, 25%),
	 base    : $dipti__grey,
	 dark    : darken($dipti__grey, 10%),
 ),
 black:(
	 x-light : lighten($dipti__black, 20%),
	 light   : lighten($dipti__black, 15%),
	 base    : $dipti__black,
	 dark    : darken($dipti__black, 10%),
 ),
 primary: (
	 x-light : lighten($primary__color, 35%),
	 light   : lighten($primary__color, 8%),
	 base    : $primary__color,
	 dark    : darken($primary__color,12%),
 ),
 secondary: (
	 x-light : lighten($secondary__color, 25%),
	 light   : lighten($secondary__color, 8%),
	 base    : $secondary__color,
 ),
);

// UNITS

$base-font               : 16px;
$base--line              : 28px;
$letter-space            : 1px;
$max-width               : 1200px;
$gutter                  : 30px;
$transition              : 0.4s;
$br-radius               : 5px;
$br-roundy               : 50%;
$spaceamounts            : (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides                   : (top, bottom, left, right);


// BREAKPOINTS

$breakpoints   : (
	'xxs'        : 320px,
	'xs'         : 575px,
	'sm'         : 576px,
	'md'         : 768px,
	'lg'         : 1024px,
	'xl'         : 1280px,
	'xxl'        : 1900px,
);