// ===============================================================
//                SHOW SECTION
// ===============================================================

#showcase {
    @extend %mt-80;
    padding: 80px 0px;
    background-color: color(grey, x-light);
    position: relative;
    z-index: 1;
}

.showcase {
    .main-heading {
        position: relative;
        &::before {
            content: "S";
            color: color(primary, x-light);
            @extend %back-letter;
        }
        h1 {
            @extend %top;
        }
        p {
            @extend %top;
        }
    }

    &-items {
        position: relative;
        margin-top: em(100px);
        a {
            padding: 0px;
        }

        .swiper-pagination-fraction, 
        .swiper-pagination-custom, 
        .swiper-container-horizontal > .swiper-pagination-bullets {
            bottom: -55px;
        }
    }

    &-images {
        position: relative;
        overflow: hidden;
        &:hover .showcase-overlay {
            transform: translateY(0);
        }
    }

    &-overlay {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(color(primary, light), 0.766);
        @include flexy($dir: column, $just: center, $align: center);
        padding: 20px;
        color: color(grey, x-light);
        transform: translateY(-150%);
        transition: transform 0.6s ease-in-out;
        h3 {
            font-size: em(20px);
            font-weight: $font-weight--md;
        }

        p {
            font-size: em(14px);
            font-weight: $font-weight--xs;
        }

        a {
            font-size: em(15px);
            font-weight: $font-weight--xs;
            background: linear-gradient(90deg, $dipti__red, $primary__color);
            color: $dipti__white;
            padding: 3px 10px;
            line-height: em(28px, 15px);
            text-transform: uppercase;
            border-radius: $br-radius;
            margin-top: em(30px, 15px);
        }
    }
}

.swiper2 {
    position: initial;
    .swiper-pagination-bullet-active {
        background-color: color(primary);
    }
    .swiper-pagination-bullet {
        background-color: color(primary);
    }
    .swiper-button-prev, 
    .swiper-button-next {
        background-color: color(grey, x-light);
        color: color(primary);
        background-color: $dipti__white;
        box-shadow: 0 0 10px rgba(color(black, light), 0.15);
        padding: 5px 30px;
        height: 30px;
    }
    .swiper-button-next, 
    .swiper-container-rtl .swiper-button-prev {
        right: 0;
        top: -25px;
    }
    .swiper-button-prev, 
    .swiper-container-rtl .swiper-button-next {
        left: initial;
        right: 65px;
        top: -25px;
    }
    .swiper-button-prev:after, 
    .swiper-button-next:after {
        font-size: em(19px);
    }
}